<div class="container">
  <div class="d-flex justify-content-center">
    <!-- seccion de imagen de fondo-->
    <img class="w-50" src="{{usuario.fotofondo}}" alt="" />
  </div>

  <h1>{{usuario.nombre}}</h1>
  <div class="row mb-2">
    <div class="col-lg-3 border border-2 border-primary p-1 mr-2 mb-1 bg-white">
      <app-profile-side-view></app-profile-side-view>
    </div>

    <div class="col border border-2 border-primary bg-white">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/mymuro']" routerLinkActive="active">Muro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/myprofile']" routerLinkActive="active">Perfil</a>
        </li>

      </ul>

      <!--<form class="mt-2 mb-1 d-flex justify-content-between">
        <input type="text" class="form-control flex-grow-1" id="comment" name="comment" aria-describedby="commentHelp"
          placeholder="Introduzca nombre completo" value="...">
        <button class="btn btn-info" type="button">Comentar</button>
      </form>-->
      <app-comentarform></app-comentarform>
      <app-murolist></app-murolist>


    </div>
  </div>
</div>
